.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.modal-backdrop.show {
  z-index: 0!important;
}
@media (max-width: 1666px){
  .p-5{
    padding: 1rem !important;
  }
  .card-body{
    min-height: auto ! important;
  }
  }
  @media (max-width: 1267px){
    .col-xl-12{
      padding-right: 0px !important;
    }
    }
    .rc-pagination-prev{
      border: 1px solid white;
    }
    .rc-pagination-prev a{
      color: white;
    }
    .rc-pagination-item-active{
      background-color:#dc1c1c;
      border-color:#dc1c1c ;
      
    }
